.add-user__section {
  width: 37%;
  display: flex;
  justify-content: center;
  position: relative;
}

.add-user__card {
  width: 87%;
  background: #d9d9d9;
  height: 43%;
  max-height: 17rem;
  min-height: 18rem;
  border-radius: 5px;
  position: absolute;
  top: 6%;
  padding: 1rem;
  min-width: 414px;
}
