.header__section {
  border-bottom: 1px solid #aea1a1;
  height: 10vh;
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d9d9d9;
  font-size: 2.4rem;
  font-weight: bold;
}
